<suite name="BookMyEditor TestSuite">
	<test name="BookMyEditorSanityTest">
		<classes>
			<class name="TestCases.CreateBookingAndAcceptTest"></class>
			<class name="TestCases.CreateBookingAndRejectTest"></class>
			<class name="TestCases.CreateBookingAndTentativeAcceptTest"></class>
		</classes>
	</test>
</suite>